.gitignore
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
#*#
.#*
.*.swp
.DS_Store
*.pdb
bin
obj
debug
Release
temppe
*.suo
*.pdsync
*.projdata
*.vbproj.user
*.csproj.user
*.vbproj.webinfo
*.csproj.webinfo
*.scc
*.vspscc
*.vssscc
_ReSharper.*
*.vshost.exe
*.manifest
*.cache
*.force