@using Practice.ViewModels.Common

@{
    ViewBag.Title = "Test";
    ViewBag.Crumbs = new Crumbs(new List<CrumbPath>()
    {
        new CrumbPath("演示页面"),
        new CrumbPath("Index"),
    });
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>hello world</h2>

