@* navbar *@
<div class="navbar-header pull-left">
    <a href="/Home/Index" class="navbar-brand"><i class="icon-github"></i> Taccisum!</a>
</div>
<div class="navbar-header pull-right">
    <ul class="nav ace-nav">
        <li class="orange">
            <a class="dropdown click" data-toggle="dropdown"><span class="icon-th-large"></span><i class="icon-caret-down"></i></a>
            <ul class="dropdown-navbar dropdown-menu dropdown-caret dropdown-close pull-left" role="menu">
                <li class="dropdown-header"><i class="icon-th-large"></i>选择你喜欢的风格</li>
                <li class="click" onclick="javascript: $('body').removeClass('skin-1 skin-2 skin-3 skin-4').addClass('skin-1');">
                    <div class="colorpick-div" style="background-color: rgb(44, 106, 160); height: 20px;"></div>
                </li>
                <li class="click" onclick="javascript: $('body').removeClass('skin-1 skin-2 skin-3 skin-4').addClass('skin-2');">
                    <div class="colorpick-div" style="background-color: #C6487E; height: 20px;"></div>
                </li>
                <li class="click" onclick="javascript: $('body').removeClass('skin-1 skin-2 skin-3 skin-4').addClass('skin-3');">
                    <div class="colorpick-div" style="background-color: #222A2D; height: 20px;"></div>
                </li>
                <li class="click" onclick="javascript: $('body').removeClass('skin-1 skin-2 skin-3 skin-4').addClass('skin-4');">
                    <div class="colorpick-div" style="background-color: rgb(67, 142, 185); height: 20px;"></div>
                </li>
            </ul>
        </li>

        <li class="grey">
            <a class="dropdown click" data-toggle="dropdown"><span class="icon-github-alt"></span><i class="icon-caret-down"></i></a>
            <ul class="dropdown-navbar dropdown-menu dropdown-caret dropdown-close pull-right" role="menu">
                <li class="dropdown-header"><i class="icon-github-alt"></i>C#相关</li>
                <li><a tabindex="-1" href="#">数据库设计</a></li>
                <li><a tabindex="-1" href="#">页面布局</a></li>
                <li><a tabindex="-1" href="#">功能迭代</a></li>
                <li class="divider"></li>
                <li><a tabindex="-1" href="#">分离的链接</a></li>
            </ul>
        </li>

        <li class="purple">
            <a class="dropdown click" data-toggle="dropdown"><span class="icon-tags"></span><i class="icon-caret-down"></i></a>
            <ul class="dropdown-navbar dropdown-menu dropdown-caret dropdown-close pull-right" role="menu">
                <li class="dropdown-header"><i class="icon-tags"></i>Tags</li>
                <li><a tabindex="-1" href="#">Entry1</a></li>
                <li><a tabindex="-1" href="#">Entry2</a></li>
                <li><a tabindex="-1" href="#">Entry3</a></li>
            </ul>
        </li>

        <li class="green">
            <a class="dropdown click" data-toggle="dropdown"><span class="icon-envelope"></span>&nbsp;<span class="badge badge-important">1</span></a>
            <ul class="dropdown-navbar dropdown-menu dropdown-caret dropdown-close pull-right" role="menu">
                <li class="dropdown-header"><i class="icon-info-sign"></i>Font Awesome！</li>
                <li><span style="color: gray; font-size: 12px;">完美的图标字体，只为Bootstrap设计！</span></li>
            </ul>
        </li>

        <li class="light-blue2">
            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                <i class="icon-cog" style="font-size: 20px; margin-top: 10px;"></i>
                <span class="user-info">
                    <small>欢迎您</small>
                    Tac
                </span>

                <i class="icon-caret-down"></i>
            </a>
            <ul class="user-menu dropdown-menu dropdown-yellow dropdown-caret dropdown-close pull-right">
                <li><a href="#"><i class="icon-cog"></i>设置</a></li>
                <li><a href="#"><i class="icon-user"></i>个人资料</a></li>
                <li class="divider"></li>
                <li>
                    <a href="/User/Logout"><i class="icon-off"></i>退出</a>
                </li>
            </ul>
        </li>
    </ul>
</div>