@using Practice.Models

@{
    ViewBag.Title = "systools-plus - JCrop";
    ViewBag.Crumbs = new Crumbs(new List<CrumbPath>()
    {
        new CrumbPath("前端工具演示"),
        new CrumbPath("JCrop"),
    });
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
    <script>
        require(["systools-plus"], function (tool) {
            tool.cropper("#btn1", {
                onCut: function(file, args) {
                    alert(args.x + " " + args.y + " " + args.width + " " + args.height);
                    return true;
                },
                showCoord: true
            });
        });
    </script>
}


<button id="btn1" class="btn btn-sm btn-success">jcrop</button>