<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="AdoNetAppender" />
    </root>

    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender" >
      <param name="File" value="E:/MyLog/taccisum-log-release/" />
      <param name="AppendToFile" value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <param name="MaxSizeRollBackups" value="-1" />
      <param name="StaticLogFileName" value="false" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.htm&quot;"  />
      <!-- level为debug以下写入文本文件 -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL" />
        <param name="LevelMax" value="DEBUG" />
      </filter>
      <layout type="Common.Tool.Extend.Log4Net.PatternLayout.TacPatternLayout">
        <param name="ConversionPattern" value="
&lt;hr color=red /&gt;
日志级别：%-5p 记录时间：%d  记录类：%c 线程ID：[%t]
&lt;br/&gt;浏览器：%browser 设备信息：%property 
&lt;br/&gt;IPv4：%client_ip
&lt;br/&gt;Url Referrer：%url_referrer
&lt;br/&gt;Url：%url
&lt;br/&gt;会话ID：%session_id
&lt;br/&gt;日志信息：%m
&lt;hr/&gt;
"/>
      </layout>
    </appender>

    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="Data Source=.\SQLEXPRESS;Initial Catalog=MvcDemo;User ID=sa;Password=sa" />
      <commandText value="INSERT INTO Log([SessionID],[Date],[Thread],[Level],[Logger],[Message],[ClientIP],[MachineName],[Browser],[Exception],[UserAgent],[Url],[UrlReferrer]) VALUES (@session_id, @log_date, @thread, @log_level, @logger, @message, @client_ip, @machine_name, @browser, @exception, @user_agent, @url, @url_referrer)" />
      
      <filter type="log4net.Filter.LevelRangeFilter">
        <!-- level为info以上写入数据库 -->
        <param name="LevelMin" value="INFO" />
        <param name="LevelMax" value="OFF" />
      </filter>
      <parameter>
        <parameterName value="@session_id" />
        <dbType value="String" />
        <size value="50" />
        <layout type="Common.Tool.Extend.Log4Net.PatternLayout.TacPatternLayout">
          <conversionPattern value="%session_id" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@client_ip" />
        <dbType value="String" />
        <size value="20" />
        <layout type="Common.Tool.Extend.Log4Net.PatternLayout.TacPatternLayout">
          <conversionPattern value="%client_ip" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@machine_name" />
        <dbType value="String" />
        <size value="100" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@browser" />
        <dbType value="String" />
        <size value="50" />
        <layout type="Common.Tool.Extend.Log4Net.PatternLayout.TacPatternLayout">
          <conversionPattern value="%browser" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
      <parameter>
        <parameterName value="@user_agent" />
        <dbType value="String" />
        <size value="500" />
        <layout type="Common.Tool.Extend.Log4Net.PatternLayout.TacPatternLayout">
          <conversionPattern value="%agent" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@url" />
        <dbType value="String" />
        <size value="1000" />
        <layout type="Common.Tool.Extend.Log4Net.PatternLayout.TacPatternLayout">
          <conversionPattern value="%url" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@url_referrer" />
        <dbType value="String" />
        <size value="1000" />
        <layout type="Common.Tool.Extend.Log4Net.PatternLayout.TacPatternLayout">
          <conversionPattern value="%url_referrer" />
        </layout>
      </parameter>
    </appender>

  </log4net>
</configuration>